.pulse {
  box-shadow: 0 0 0 #3BBFF7;
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #3BBFF7;
  }

  70% {
    -webkit-box-shadow: 0 0 0 12px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #3BBFF7;
    box-shadow: 0 0 0 0 #3BBFF7;
  }

  70% {
    -moz-box-shadow: 0 0 0 12px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 12px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.input-text-light {
    -webkit-text-fill-color : white;
}

.input-text-dark {
  -webkit-text-fill-color: #2B3440;
}

